@model EMMC.Models.Cliente

@{
    ViewBag.Title = "Inativar Cliente";
}

<h2>Inativar cliente</h2>

<h3>Você tem certeza disso?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClienteNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteEndereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteEndereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClienteSenha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteSenha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para a Index", "Index")
        </div>
    }
</div>
