@model IEnumerable<EMMC.Models.Cliente>

@{
    ViewBag.Title = "Index Cliente";
}

<h2>Index do Cliente</h2>

<p>
    @Html.ActionLink("Cadastrar Novo Cliente", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClienteNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteCpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClienteSenha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteCpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClienteSenha)
        </td>
        <td>
            @Html.ActionLink("Editar Cliente", "Editar", new { id=item.ClienteId }) |
            @Html.ActionLink("Detalhes do Cliente", "Detalhes", new { id=item.ClienteId }) |
            @Html.ActionLink("Inativar Cliente", "Deletar", new { id=item.ClienteId })
        </td>
    </tr>
}

</table>
