@model IEnumerable<EMMC.Models.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TemplateCliente.cshtml";
}

<p>
    @Html.ActionLink("Cadastrar Produto", "Cadastro")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoQuantidade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoQuantidade)
            </td>
            <td>
                @Html.ActionLink("Editar Produto", "Editar", new { id = item.ProdutoId }) |
                @Html.ActionLink("Detalhes do Produto", "Detalhes", new { id = item.ProdutoId }) |
                @Html.ActionLink("Excluir Produto", "Deletar", new { id = item.ProdutoId })
            </td>
        </tr>
    }

</table>
