@model IEnumerable<EMMC.Models.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TemplateCliente.cshtml";
    List<EMMC.Models.Categoria> RetornarCategorias = new List<EMMC.Models.Categoria>();
    RetornarCategorias = EMMC.DAO.CategoriaDAO.RetornarListaDeCategoriasDoAdministradorLogado();
}

<h2 style="text-align: center;">Produtos</h2>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.categoria.CategoriaNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoQuantidade)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoria.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoDescricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdutoQuantidade)
            </td>
        </tr>
    }

</table>
