@model EMMC.Models.Administrador    

@{ 
    ViewBag.Title = "Login";
}
<html>


<head>
    <title>Login</title>
    <link href="~/Content/Spacelab.min.css" rel="stylesheet" />
</head>
<body>

    <section id="Login">
        <div class="row">
            <!--ESPAÇAMENTO ESQUERDA-->
            <div class="col s12 m12 l8">
                <br />
            </div>

            <!--FORMULARIO DE LOGIN-->
            <div class="col s12 m12 l4">
                <h2>Login</h2>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-red" })

                    <label>CPF</label>
                    @Html.EditorFor(model => model.AdministradorCpf)

                    <label>Senha</label>
                    @Html.PasswordFor(model => model.AdministradorSenha)

                    <input type="submit" name="btnEntrar" value="Entrar" class="btn" />
                    @Html.ActionLink("Cadastrar", "Cadastro", "Administrador", null, new { @class = "btn btn-primary" })
                }
            </div>
        </div>
    </section>
</body>
</html>