@model EMMC.Models.Administrador    

@{ 
    ViewBag.Title = "Login";
}
<html>


<head>
    <title>Login</title>
    <link href="~/Content/Spacelab.min.css" rel="stylesheet" />
</head>
<body>

    <section id="Login">
        <div class="row">
            <!--ESPAÇAMENTO ESQUERDA-->
                <br />
           
            
            <!--FORMULARIO DE LOGIN-->
            <div class="col-l4">
                <h2>Login</h2>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-red" })

                    <label>CPF</label><br/>
                    @Html.EditorFor(model => model.AdministradorCpf)
                    <br /><br/>
                    <label>Senha</label><br/>
                    @Html.PasswordFor(model => model.AdministradorSenha)
                    <br/><br/>
                    <input type="submit" name="btnEntrar" value="Entrar" class="btn" />
                    @Html.ActionLink("Cadastrar", "Cadastro", "Administrador", null, new { @class = "btn btn-primary" })
                }
            </div>
             </div>

    </section>
</body>
</html>