@model IEnumerable<EMMC.Models.Produto>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Cadastrar Produto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoQuantidade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoDescricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoQuantidade)
        </td>
        <td>
            @Html.ActionLink("Editar Produto", "Edit", new { id=item.ProdutoId }) |
            @Html.ActionLink("Detalhes do Produto", "Details", new { id=item.ProdutoId }) |
            @Html.ActionLink("Excluir Produto", "Delete", new { id=item.ProdutoId })
        </td>
    </tr>
}

</table>
