@model EMMC.Models.Categoria

@{
    ViewBag.Title = "Deletar Categoria";
    Layout = "~/Views/Shared/TemplateCliente.cshtml";
    List<EMMC.Models.Categoria> RetornarCategorias = new List<EMMC.Models.Categoria>();
    RetornarCategorias = EMMC.DAO.CategoriaDAO.RetornarListaDeCategoriasDoAdministradorLogado();
}

<h2 style="text-align:center;">Deletar Categoria</h2>

<h3>Você tem certeza disso?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoriaNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaDescricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaDescricao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Index", "Index", "", new { @class = "btn btn-warning btn-sm" })
        </div>
    }
</div>
