@model IEnumerable<EMMC.Models.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/TemplateCliente.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar nova categoria", "Cadastro")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaDescricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaDescricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.CategoriaId }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.CategoriaId }) |
            @Html.ActionLink("Deletar", "Deletar", new { id=item.CategoriaId })
        </td>
    </tr>
}

</table>
